:root {
  --button-grey: #CCCCCC;
  --font-productname: #757575;
  --hover-carrossel: #444444;
  --heart: #E35151;
  --button-comprar: #824D3E;
  --verao-letter: #666666;
  --off20-color: #EBD7CE;
  --lancamento--color: #824D3E;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;700&display=swap');

.products {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 2rem;
  width: 100%;
  padding-bottom: 9rem;
}
.products__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 32px;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 6px;
}
.products__carousel {
  justify-content: center;
}
.products__carousel button {
  margin: 30px -21px 0 -42px;
  color: white;
}

.product-container {
  display: flex;
  /* align-items: center; */
  flex-direction: column; 
  /* justify-content: center;  */
  border: 1px solid #EEEEEE;
  margin: 0 5px 0 5px;
  padding: 5px;
}

.product-img {
  min-width: 240px;
  margin: auto;
}

.product-info {
  margin-top: 5px;
}

.product-name {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: var(--font-productname);
}
.product-price {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}
.product-price_x {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: var(--font-productname);
}
.product-extras {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 14px 4px 10px;
}
.prduct__extras__verao {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  border: 1px solid var(--verao-letter);
  color: var(--verao-letter);
  font-size: 13px;
  padding: 5px;
}
.prduct__extras__20off {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  background-color: var(--off20-color);
  border: 1px solid var(--off20-color);
  font-size: 13px;
  padding: 5px;
}
.prduct__extras__lancamento {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: white;
  background-color: var(--lancamento--color);
  border: 1px solid var( --lancamento--color);
  font-size: 13px;
  padding: 5px;
}
.heart {
  color: var(--heart);
}

.product-comprar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;

}


.product-comprar .comprar{
  visibility: hidden;

}
.product-comprar:hover {
  background-color: var(--button-comprar);
}

.product-comprar:hover .comprar {
  background-color: var(--button-comprar);
  visibility: visible;
  display: block;
  color: white;
} 

/* @media screen and (min-width: 768px) {
  teste
} */