:root {
  --button-grey: #CCCCCC;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;700&display=swap');

.products {
  margin-top: 7rem;
}

.products__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.products__carousel {
  /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; */
  padding: 35px 106px 0px 106px;
}

.products__carousel button {
  background-color: var(--button-grey);
  width: 40px;
  min-height: 53px;
  /* padding: 0 0 0 0; */
}

/* .products__carousel ::before ::after {
  content: '<';
  font-size: 30px;
}

.products__carousel ::after {
  content: ">";
  font-size: 30px;
} */
.products__title {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 6px;

}

.product-name {
  font-size: 15px;
}

.product-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.product-container h3 h4 p {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}