:root {
  --button-grey: #CCCCCC;
  --font-productname: #757575;
  --hover-carrossel: #444444;
  --heart: #E35151;
  --button-comprar: #824D3E;
  --verao-letter: #666666;
  --off20-color: #EBD7CE;
  --lancamento--color: #824D3E;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;700&display=swap');

.products {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 2rem;
  width: 100%;
  padding-bottom: 9rem;
}

.products__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 32px;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 6px;
}

.products__carousel {
  justify-content: center;
  /* padding: 35px 106px 0px 106px; */
}

.products__carousel button {
  /* min-height: 53px; */
  margin: 30px -21px 0 -42px;
  color: white;
}

.product-name {
  font-size: 15px;
}

.product-container {
  /* display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;  */
  border: 1px solid #EEEEEE;
  margin: 0 5px 0 5px;
  padding: 0 0 0 0;
  height: 450px;
  width: 269px;
}

/* tentando arrumar letra do carrosel*/
.product-info {
  /* display: flex;
  align-content: flex-start;
  flex-direction: column;*/
  height: 90px;
  padding: 5px 6px 1px 15px;
}

.product-img {
  height: 300px;
  margin: auto;
}

.product-name {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: var(--font-productname);
}

.product-price {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.product-price_x {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: var(--font-productname);
}

.product-extras {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 14px 4px 10px;
}

.prduct__extras__verao {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  border: 1px solid var(--verao-letter);
  color: var(--verao-letter);
  font-size: 13px;
  padding: 5px;
}

.prduct__extras__20off {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  background-color: var(--off20-color);
  border: 1px solid var(--off20-color);
  font-size: 13px;
  padding: 5px;
}

.prduct__extras__lancamento {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: white;
  background-color: var(--lancamento--color);
  border: 1px solid var( --lancamento--color);
  font-size: 13px;
  padding: 5px;
}

.heart {
  color: var(--heart);
}
/* 
.comprar {
  background-color: var(--button-comprar);
  margin-bottom: 5px;
  padding: 22px;
}  */

/* .product-comprar {
  visibility: hidden;

}

.product-comprar:hover {
  cursor: pointer;
  position: relative;
  background-color: var(--button-comprar);
  visibility: visible;
  padding: 4rem 4rem 4rem 4rem;
  display: block;
  color: white;
} */

.product-comprar .comprar{
  visibility: hidden;
}

.product-comprar:hover .comprar {
  visibility: visible;
  padding: 5rem 5rem 5rem 5rem;
  border: 1px solid var(--off20-color);
  background-color: var(--button-comprar);
  display: block;
  color: white;
}
