

.season__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 90px 0 160px;
}

/* .season__container img {
  width: 100%;
} */

/* testando imagem para deploy */

.season__img__left {
  width: 100%;
}

.season__img__right {
  width: 100%;
}

.season__right__text {
  margin-top: -10rem;
  margin-left: 2rem;
}

.season__left__text {
  margin-top: -11rem;
  margin-left: 3rem;
}

.season {
  display: flex;
  justify-content: center;
  align-items: center;
}

.season h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: var(--white);
  font-size: 25px;
  letter-spacing: 6px;
}